header
    background-color: rgba(54,59,71,255)
    margin: 0
    padding: 0
    nav
        .elem-1
            display: flex
            align-items: center
            justify-content: space-around
            padding-top: 1% 
            padding-bottom: 1%
            .flati
                color: white
                font-size: 20px
            .elem-1-para
                display: flex
                gap: 30px
                color: white
                mark
                    background-color: rgba(54,118,187,255)
                    color: white